node_modules/
src/assets/db/
src/notes.txt
.vscode/settings.json
/uploads
config/dev.env
.vscode/launch.json
src/temp/

config/firebase_default.json
src/utils/google/firebase-dev.json
src/utils/subscriptionVerify.js